/* styles.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #343a40;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #343a40;
  color: white;
}

td {
  background-color: #f8f9fa;
}

button.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

button.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.result {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
}

#totalComision {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  th, td {
    padding: 8px;
  }

  .result {
    font-size: 1.2rem;
  }

  #totalComision {
    font-size: 1rem;
  }
}
